<app-navabr> </app-navabr>

<div class="clearfix border-bottom p-2">
  <div class="float-start">  <h2 class="mb-0"> External Partners </h2> </div>    
</div>

     <div class="container pt-3"> 
      
<div class="row">
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Partner Name </label>
   <input type="text" class="form-control"> 
    </div>
  
  <div class="col-md-4">
    <label for="inputtext" class="form-label"> 
        Primary Contact </label>
    <input type="text" name="" id="" class="form-control">
   
  </div>
</div>

<div class="row">
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label"> Email </label>
   <input type="email" class="form-control"> 
    </div>
  
  <div class="col-md-4">
    <label for="inputtext" class="form-label"> Phone No </label>
    <input type="text" name="" id="" class="form-control">
   
  </div>
</div>

     

    <div class="row  ">
        <div class="col-md-4">
          
            <label for="inputtext" class="form-label">   Success Redirect </label>
    <textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>
<div class="col-md-4">
 
    <label for="inputtext" class="form-label">     Terminate Redirect </label>
    <textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>

</div>

<div class="row  ">
    <div class="col-md-4">

        <label for="inputtext" class="form-label"> Over Quota Redirect   </label>
<textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>
<div class="col-md-4">

    <label for="inputtext" class="form-label">  QSF Redirect Url  </label>
<textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>


</div>





<div class="clearfix border-top  mt-4 pt-4">
  
  <div class="float-end"> <button class="btn btn-success me-2"> Save </button>  <button class="btn btn-danger"> Cancel </button>  </div>
</div>




</div>