<app-navabr> </app-navabr>
<div class="clearfix border-bottom p-4">
    <div class="float-start">  <h2 class="mb-0">Users</h2> </div>    
    <div class="float-end"> 
     
       <a [routerLink]="['/user/usercreatenew']" routerLinkActive="is-active" class="btn btn-outline-primary profile"><i class="fa fa-plus"></i> Create New User</a>  </div>
  </div>

  <section class="client_forms">
    <div class="row">
      <div class="col-md-4">
          <!-- <label for="inputtext" class="form-label"> Search User</label> -->
          <input type="text" class="form-control" id="inputtext" placeholder="Search user with name or email">
          <!-- <button class="btn btn-warning" type="submit"> <i class="fa fa-search" aria-hidden="true"></i></button> -->
        </div>
    </div>
    </section>
    
  <section class="client_table">
    <div class="table-responsive">
  <table #dTable class="table table-striped" style="width:100%" >
    <thead>
        <tr>
            <th>  First Name </th>
            <th> Last Name</th>
            <th>  Email Address </th>
            <th> Created Date </th>
            <th> Last Login Date </th>
            <th> Status </th>
            <th> Count </th>
            <th> Actions </th>
        </tr>


    </thead>
    <tbody>
        <tr *ngFor="let UserData of datatables">
            <td> {{UserData. FirstName}} </td>
            <td> {{ UserData.LastName}}</td>
            <td> {{ UserData.EmailAddress}}</td>
            <td>{{ UserData.CreatedDate}} </td>
            <td> {{ UserData.LastLoginDate}}</td>
            <td> {{ UserData.Status}}</td>
            <td> {{ UserData.Count}}</td>
            <td>   <a [routerLink]="['/user/useredit']" routerLinkActive="is-active" class=""> <i class="fa fa-edit" ngbTooltip="Edit"></i> </a> <i class="fa fa-trash" ngbTooltip="Delete"></i> </td>           
        </tr>
      
        
    </tbody>
    <tfoot>
    
  </tfoot>
</table>
</div>
</section>



