<app-navabr> </app-navabr>

    <div class="clearfix border-bottom p-2">
        <div class="float-start">  <h2 class="mb-0"> profileQuestions - Age </h2>  </div>    
       
      </div>

     <div class="container mt-2"> 
      
<div class="row">
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label"> Question Type </label>
      <select id="inputState" class="form-select" [(ngModel)]="selectedValue">

        <option *ngFor="let option of options" [value]="option.id">
            {{option.name}}      
        </option>
      </select>
    </div>
    <div class="col-md-1 mt-4 pt-2">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" >
        <label class="form-check-label" for="check1">  Is Force </label>
      </div>
    
  </div>
  <div class="col-md-4">
    <label for="inputtext" class="form-label"> Question Name : </label>
    <input type="text" name="" id="" class="form-control">
   
  </div>
</div>

      <div class="row">
    <div class="col-md-8">
      <label for="inputtext" class="form-label"> Question Text : </label>
    
      <ckeditor
      #editor
      [(ngModel)]="model.description"
      id="description"
      name="description"
      [config]="{ extraPlugins: 'divarea' }"
    >
    </ckeditor>
    
</div>
    </div>

    <div class="row mt-4 ">
        <div class="col-md-6">
    <h2 class="mb-2"> Options : </h2>

    <textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>

<div class="col-md-6 mt-5">
    <i class="fa fa-plus btn btn-primary me-2"></i>
    <i class="fa fa-minus btn btn-primary"></i>
</div>
</div>

<div class="row mt-4 ">
    <div class="col-md-6">
<textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>

<div class="col-md-6 mt-5">
<i class="fa fa-plus btn btn-primary me-2"></i>
<i class="fa fa-minus btn btn-primary"></i>
</div>
</div>

<div class="row mt-4 ">
    <div class="col-md-6">
<textarea name="" id="" cols="30" rows="3" placeholder="Enter Option"></textarea>  
</div>

<div class="col-md-6 mt-5">
<i class="fa fa-plus btn btn-primary me-2"></i>
<i class="fa fa-minus btn btn-primary"></i>
</div>
</div>


<div class="clearfix border-top  mt-4 pt-4">
  
  <div class="float-end"> <button class="btn btn-success me-2"> Save </button>  <button class="btn btn-danger"> Cancel </button>  </div>
</div>





</div>