<app-navabr> </app-navabr>
<div class="clearfix border-bottom p-4">
    <div class="float-start">  <h2 class="mb-0"> Edit User - adam@precisionsample.com </h2> </div>    
   
  </div>
  
  <section class="client_forms">
    <div class="row">
      <div class="col-md-4">
          <label for="inputtext" class="form-label"> First Name *</label>
          <input type="text" class="form-control" id="inputtext">
        </div>
        <div class="col-md-4">
          <label for="inputtext" class="form-label"> Last Name *</label>
          <input type="text" class="form-control" id="inputtext">
        </div>  
        <div class="col-md-4 mt-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked/>
              <label class="form-check-label" for="flexSwitchCheckDefault"> Account Enabled </label>
            </div>
          </div>

       
    </div>
      <div class="row">
      <div class="col-md-4">
          <label for="inputtext" class="form-label"> Email Address *</label>
          <input type="text" class="form-control" id="inputtext">
        </div>
        <div class="col-md-4">
          <label for="inputtext" class="form-label"> Password *</label>
          <input type="text" class="form-control" id="inputtext">
        </div>  
        <div class="col-md-4 mt-4">
         <button type="button" class="btn btn-primary"> Change Password</button>
        </div>  
    </div>
    </section>
    <section class="p-4">
        <form action="/action_page.php">
            <fieldset>
             <legend>Roles</legend>
             <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Admin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sales
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  PM
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Acct Executive
                </label>
              </div>
            </fieldset>
           </form>
           <small> Note: On changing Email Address you need to re-login.</small>
    </section>
  
    <section class="p-4">
    <div class="createuser_bottombtn">
      <a href="#" class="btn btn-danger"><i class="fa fa-close"></i>Cancel</a> 
      <a href="#" class="btn btn-success"><i class="fa fa-check"></i>Save</a> 
  </div>
  </section>


  