<app-navabr> </app-navabr>
<div class="clearfix border-bottom p-2">
    <div class="float-start">  <h2 class="mb-0"> profileQuestions - {{ userName}} </h2>  </div>    
    <div class="float-end"> <input type="text" [(ngModel)]="userName" /> <button class="btn btn-success mx-2"> Save </button>  <a [routerLink]="['/profile/profilequestions/profileeditquestion']"  class="btn btn-outline-primary profile"> <i class="fa fa-plus"></i> Create New </a>   </div>
  </div>
  <section class="client_forms">
  <div class="row">
   

        <div class="col-md-3">
            <label for="inputEmail4" class="form-label"> Profile </label>
            <select id="inputState" class="form-select" [(ngModel)]="selectedValue">
      
              <option *ngFor="let option of options" [value]="option.id">
                  {{option.name}}      
              </option>
            </select>
          </div>
        
    <div class="col-md-3">
      <label for="inputEmail4" class="form-label"> Question Name </label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-3">
        <label for="inputEmail4" class="form-label">  Question Text </label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
   
   
    <div class="col-md-3">
        <a href="#" class="btn btn-outline-primary profile"><i class="fa fa-search"></i>Search</a> 
    </div>
  </div>
  </section>

    
  <section class="client_table">
    <div class="table-responsive">
  <table #dTable class="table table-striped" style="width:100%" >
    <thead>
        <tr>
            <th> 
                questionName </th>
            <th> questionText </th>
            <th>  questionTypeName </th>
            <th> IsActive </th>
         
            <th> Actions </th>
        </tr>


    </thead>
    <tbody>
        <tr *ngFor="let ClientData of datatables">
            <td> {{ClientData.questionName}} </td>
            <td> {{ ClientData.questionText}}</td>
            <td> {{ ClientData.questionTypeName}}</td>
            <td>{{ ClientData.IsActive}} </td>
            
            <td>  <a [routerLink]="['/profile/profilequestions/profileeditquestion']"  class=""> <i class="fa fa-edit" ngbTooltip="Edit"></i> </a> | <i class="fa fa-trash" ngbTooltip="Delete"></i> </td>           
        </tr>
      
        
    </tbody>
    <tfoot>
    
  </tfoot>
</table>
</div>
</section>